<section id="content" class="text">
	<div id="video-frame">
		<div id="text-wrapper">
			<p>
				Tim Hussin is a photographer and filmmaker currently documenting subcultures of the American South. In his personal work, Tim blurs the lines between himself and subject, often becoming involved in the lives of those he documents, gaining access to more intimate stories. In the past he has photographed the indigenous silver miners of Potosi, Bolivia for National Geographic Magazine and has shot several assignments for newspapers around the United States. He is currently living in the Northeast and is available for assignment anywhere. 
			<p>
			<p>
				<a href="mailto:timhussin@gmail.com">&raquo; timhussin@gmail.com</a>
			</p>
		</div>
	</div>
</section>
