<section id="content" class="text">
	<div id="video-frame">
		<div id="text-wrapper">
			<div id="nat-desc" class="tear-desc">
				<h2>National Geographic</h2>
				<p>
					PUBLISHED: September 2014
				</p>
				<p>
					<a href="http://s3.amazonaws.com/america_recycled/timhussin/tearsheets/natgeo.pdf" target="_blank">&raquo; View Tearsheet</a>
				</p>
			</div>
			<div id="huck-desc" class="tear-desc">
				<h2>Huck Magazine</h2>
				<p>
					PUBLISHED: September 2014
				</p>
				<p>
					<a href="http://s3.amazonaws.com/america_recycled/timhussin/tearsheets/huck.pdf" target="_blank">&raquo; View Tearsheet</a>
				</p>
			</div>
			<div id="bone-desc" class="tear-desc">
				<h2>Bone Shaker Magazine</h2>
				<p>
					PUBLISHED: September 2014
				</p>
				<p>
					<a href="http://s3.amazonaws.com/america_recycled/timhussin/tearsheets/boneshaker.pdf" target="_blank">&raquo; View Tearsheet</a>
				</p>
			</div>
			<div id="go-desc" class="tear-desc">
				<h2>Go</h2>
				<p>
					PUBLISHED: September 2014
				</p>
				<p>
					<a href="http://s3.amazonaws.com/america_recycled/timhussin/tearsheets/go.pdf" target="_blank">&raquo; View Tearsheet</a>
				</p>
			</div>
		</div>
	</div>
</section>
