body, div, h1, h2, img, a, ul, li, p {
	border:0px;
	outline: 0px;
	margin: 0px;
	padding: 0px;
}

ul, li{
	list-style: none inside none;
}

body{
	background: #141414;
	overflow: hidden;
}

#page-wrapper{
	background: #141414;
}

/********STRUCTURE**********/

#page-wrapper{
	width:100%;
	position:relative;
	background:transparent;
}

#content-wrap{
	border-right: 1px solid rgb(68, 68, 68);
	float:left;
}

#content{
	float:left;
	width:100%;
	border-left: 9px solid #e3e3e3;	
	overflow:hidden;
}

#gallery-frame{
	position:relative;
	overflow: hidden;
}

#gallery-wrap{
	position:absolute;
	top:0px;
	left:0px;
	background:#000;
	visibility: hidden;
}

#gallery-header{
	width:100%;
	position:relative;
	background: #141414;
	height:85px;
	float:left;
	border-top: 1px solid rgb(68, 68, 68);
}

.text{
	padding:15px;
}

h2 {
	font-family: 'Open Sans Condensed', Arial;
	font-weight: 700;
	font-size:25px;
	letter-spacing: 0.08em;
  color:#FFF;
  text-transform: uppercase;
}

#gallery-count {
	position:absolute;
	right:0px;
}

#index-bg, #page-abs{
	position:absolute;
	left: 0;
	top: 0;
	width:100%;
}

#index-bg{
	display:none;
}

#page-abs{
	z-index:10;
}

#index-bg.visible{
	display:block;
}

#index-bg > img{
	width:100%;
}

p {
	font-family: Verdana, Arial, sans-serif;
	font-size:14px;
	line-height: 28px;
	color: rgb(177, 177, 177);
}

a {
	text-decoration: none;
	color:rgb(177, 177, 177);
}

a:hover{
	text-decoration: underline;
	color:#FFF;
}

/********NAV**********/

#header{
	width: 100%;
	height:102px;
	border-bottom: 1px solid rgb(68, 68, 68);
	background: #141414;
}

#logo-wrap, #main-nav, #sub-menu{
	float:left;
}

#logo-wrap{
	padding: 9px 3px;
	border-right: 1px solid rgb(68, 68, 68);
}

#logo{
	text-indent: -9999px;
	height:85px;
	width:191px;
	background: URL(/images/sprites.png) 0px 0px;
	padding-right: 25px;
	text-transform: uppercase;
}

#main-nav{
	padding: 15px;
	border-right: 1px solid rgb(68, 68, 68);
}

#main-nav .menu-item, #sub-menu .menu-item{
	color: #8b8b8b;
	font-family: 'Quicksand', Arial;
	font-weight: 400;
	font-size:14px;
	text-decoration: none;
	letter-spacing: 0.08em;
	line-height: 14px;
	text-transform: uppercase;
}

#main-nav .menu-item:hover, #sub-menu .menu-item:hover, #main-nav .menu-item.active, #sub-menu .menu-item.active{
	color:#FFF;
}

#sub-menu{
	padding-top:15px;
}

#sub-menu > ul {
	display:none;
	float:left;
	margin-left:25px;
	text-transform: uppercase;
}

#sub-menu > ul.visible{
	display:block;
}


#sub-menu .column-1 {

}

#sub-menu .column-2 {
	margin-left: 250px;
}

#sub-menu .column-3 {
	margin-left: 500px;
}

#sub-menu .column-2.unconventional-denver {
	margin-top: -72px;
}

/*******GALLERY*******/

#gallery-nav{
	background: URL(/images/sprites.png) -376px 0px;
	height:101px;
	width:50px;
}

#gallery-nav-wrap{
	visibility:hidden;
	position:absolute;
	right:0px;
	top:0px;
	float:left;
	border-right: 9px solid #e3e3e3;
}


#gallery-nav-wrap.visible{
	visibility: visible;
}

#next, #prev {
	width:50px;
	height:50px;
	float:left;
	cursor:pointer;
}

#next{
	border-bottom: 1px solid #cbcbcb;
	background: URL(/images/sprites.png) -226px 0px;
}

#next:hover{
	background: URL(/images/sprites.png) -301px 0px;
}

#prev{
	background: URL(/images/sprites.png) -226px -50px;
}

#prev:hover{
	background: URL(/images/sprites.png) -301px -50px;
}

#next.hidden{
	visibility: hidden;
}

#prev.hidden{
	visibility: hidden;
}

div.gallery-image {
	float:left;
	opacity:0.1;
}

div.gallery-image > img{
	width:100%;
	float:left;
}

/********TEARSHEETS**********/

#tearsheet-img, #tear-desc{
	position:relative;
	float:left;
}

#tearsheet-img {
	height: 500px;
	width:300px;
	margin-right:25px;
}

#text-wrapper{
	width:400px;
	padding:15px;
	background:URL(/images/1x1.png) repeat;
}

.tear-desc{
	width:100%;
	padding-bottom:25px;
	margin-bottom:25px;
	border-bottom: 1px solid rgb(68, 68, 68);
}

#tearsheet-img > img{
	position:absolute;
	left:0px;
	top:0px;
	z-index:10;
	width:100%;
}

#tearsheet-img > #nat{
	z-index:20;
}

#go-desc{
	border:0px;
}
